asgiref==3.5.2
contourpy==1.0.7
cycler==0.11.0
DAWG-Python==0.7.2
Django==4.1.4
django-crispy-forms==1.14.0
docopt==0.6.2
fonttools==4.38.0
gunicorn==20.1.0
kiwisolver==1.4.4
matplotlib==3.6.3
numpy==1.24.1
packaging==23.0
Pillow==9.4.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==3.0.9
python-bidi==0.4.2
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.3
tzdata==2022.7
wordcloud==1.8.2.2
aiogram==2.25.1
