{% extends 'mycards/base.html' %}
{% load custom_tags %}
{% load static %}
{% block container %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-2">
        <ul class="nav flex-column" style="border-right: 2px solid #23418b">
            {% for topic in topics %}
            <div class="row align-items-center p-0 m-0">
                <div class="col-1 m-0 p-0 text-right">
                    {% if topic.name_icon != None %}<i class="fa {{ topic.name_icon }} text-right pb-1 pl-2" aria-hidden="true" style="color: #23418b"></i> {% endif %}
                </div>
                <div class="col-11 m-0 p-0">
                    <li class="nav-item p-0 m-0">
                    <a class="nav-link pl-2 pb-2 mb-1 ml-1" href="{% url 'adverbs_filter' topic.pk %}" style="color: #23418b">{{ topic.category }}</a>
                    </li>
                </div>
            </div>
            {% endfor %}
        </ul> <!-- Навигация по темам -->
    </div>
    <div class="col-10">
        <div class="container">

            <div class="col-1"></div>
            <div class="col-10">
                <h1 class="text-center">НАРЕЧИЯ И ПРОЧИЕ ЧАСТИ РЕЧИ</h1>
            <table class="table dashed-border-top">
                {% for word in adverbs_info %}
                <tr>
                    <th class = "m-0 p-0 " scope="row">
                    {% if word.expressions|length > 0%}
                    <a class="btn btn-light" data-toggle="modal" data-target="#{{ word.id }}">
                    +
                    </a>
                    {% endif %}
                    </th>
                    <td class="word-translation">{{ word.translation|upper }}</td>
                    <td class="word-name-general color-male text-right"><span class="word-name">{{ word.name }}</span><br><br class="fs-6">
                        <span class="word-pronunciation mt-3">[{{ word.pronunciation }}]</span></td>
                </tr>
                {% endfor %}
             </table>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
{% endblock %}