{% load static %}
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" type= "image/png" sizes="151x151" href="{% static 'img/icon.png' %}">
</head>
<body>
<!--  <header class="container pb-3"> -->
<!--    <div class="row" style="background-color: #23418b; color: white"><span style="color: #23418b; font-size: 18px">иbb</span><span>ивриמилия - онлайн платформа для ведения словаря слов на иврите</span></div> -->
<nav class="navbar navbar-expand-lg navbar-light m-0 p-0" style="border-bottom: 1.5px solid #F5F5F5; border-top: 5px solid #23418b">
      <a class="navbar-brand ml-3 p-2" href="{% url 'main' %}" style="background-color: white">
        <img src="{% static 'img/parrot3.png' %}" height="50" class="d-inline-block align-top mr-0" alt="" style="background-color: white"><span style="color: #23418b"><b></b></span>
      </a>
      <button class="navbar-toggler m-0 p-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"  style="background-color: #23418b">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-left m-0 p-0"id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nouns' %}" style="background-color: white; color: white"></a>
          </li>
          <li class="nav-item dropdown m-0 p-0">
            <a class="nav-link dropdown-toggle mt-1 mb-0 mr-5 ml-3 pb-1 pt-0 px-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">
            Посмотреть слова
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'nouns' %}">Существительные</a>
              <a class="dropdown-item" href="{% url 'adjectives' %}">Прилагательные</a>
              <a class="dropdown-item" href="{% url 'verbs' %}">Глаголы</a>
              <a class="dropdown-item" href="{% url 'numbers' %}">Числительные</a>
              <a class="dropdown-item" href="{% url 'pronouns' %}">Местоимения</a>
              <a class="dropdown-item" href="{% url 'adverbs' %}">Наречия</a>
              <a class="dropdown-item" href="{% url 'questions' %}">Вопросительные слова</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mt-1 mb-0 mr-5 ml-3 pb-1 pt-0 px-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">
            Вывести на печать
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'verbs_print' %}">Глаголы</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mt-1 mb-0 mr-5 ml-3 pb-1 pt-0 px-0" href="#" id="navbarDropdownAdd" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">
            Добавить слова
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'add_noun' %}">Существительные</a>
              <a class="dropdown-item" href="{% url 'add_verb' %}">Глаголы</a>
              <a class="dropdown-item" href="{% url 'add_adjective' %}">Прилагательные</a>
              <a class="dropdown-item" href="{% url 'add_adverb' %}">Наречия и прочее</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mt-1 mb-0 mr-5 ml-3 pb-1 pt-0 px-0" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">
            Исключения
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="{% url 'nouns_exceptions' %}">Существительные</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mt-1 mb-0 mr-5 ml-3 pb-1 pt-0 px-0" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">
            Грамматика
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="{% url 'nouns_exceptions' %}">Пункт 1</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link mt-1 mb-0 mr-5 ml-3 pb-1 pt-0 px-0" href="{% url 'cloud' %}"  style="color: black">Облако</a>
          </li>
        </ul>
      </div>
    </nav>
<!--  </header> -->

{% block container %} {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>