{% extends 'mycards/base.html' %}
{% load custom_tags %}
{%  load static %}
{% block container %}
  <main class="container g-0">


    <!-- CARDS -->
    <div class="row g-0">
      <div class="col-3 p-0 m-0">
        <div class="card" style="background-color: white; border-left: 10px solid #FF6600">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="https://i.ytimg.com/vi/lZAMwYmj1q4/maxresdefault.jpg" alt="" />
          </div>
          <div class="card-body py-0">
            <h1 class="h1 card-title text-right my-0 mr-3" style="font-size: 46px;">מְצוּיַן</h1>
            <p class="card-text p-1 my-0 mr-3 text-right" style="font-size: 20px">נוֹרָא</p>
            <p class="card-text p-1 m-0" style="font-size: 36px; color: #CCCCCC">мецуЯн</p>
            <table class="table mt-1 mb-1 mr-3" >
              <tbody style="font-size: 24px;">
                <tr>
                  <th scope="row" class="p-2 m-1"></th>
                  <td class="p-1 m-1">מצוּיֶנֶת</td>
                  <td class="p-1 m-1">מְצוּיַן</td>
                </tr>
                <tr>
                  <th scope="row" class="p-2 m-1"></th>
                  <td class="p-1 m-1">מצוּיָנוֹת</td>
                  <td class="p-1 m-1">מצוּיָנִים</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer p-0 pl-4" style="background-color: #BFBFBF; color: white; font-size: 26px">ОТЛИЧНЫЙ</div>
        </div>
        </div>
      <div class="col-3 p-0 m-0">
        <div class="card" style="background-color: white; border-left: 10px solid #006600">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="https://studokna.ru/upload/resize_cache/iblock/629/600_400_2/otdelka-vnutri-balkona-704x400.jpg" alt="" />
          </div>
          <div class="card-body py-0">
            <h1 class="h1 card-title text-right my-0 mr-3" style="font-size: 46px;">מִרפֶּסֶת</h1>
            <p class="card-text pr-3 my-0 mr-3 text-right" style="font-size: 30px; color: #FF1493"><i class="fa fa-exclamation-triangle mr-3" aria-hidden="true" style="color: #FFD700"></i><b>Ж</b></p>
            <p class="card-text p-1 m-0" style="font-size: 36px; color: #CCCCCC">мирпЕсэт</p>
            <table class="table p-0 m-0" >
              <tbody style="font-size: 24px;">
                <tr>
                  <th scope="row" class="p-2 m-1"></th>
                  <td class="p-1 m-1">מרפסות</td>
                  <td class="p-1 m-1">מִרפֶּסֶת</td>
                </tr>
                <tr>
                  <th scope="row" class="p-2 m-1"></th>
                  <td class="p-1 m-1">-</td>
                  <td class="p-1 m-1">-</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer p-0 pl-4" style="background-color: #BFBFBF; color: white; font-size: 26px">БАЛКОН</div>
        </div>
        </div>
      <div class="col-3 p-0 m-0">
        <div class="card" style="background-color: white; border-left: 10px solid #000080">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="https://image.freepik.com/free-photo/man-traveler-with-a-backpack-with-a-raised-hand-in-the-pose-of-a-winner-on-the-top-of-the-mountain-the-concept-of-travel-and-vacation-in-the-mountains_359992-511.jpg" alt="" />
          </div>
          <div class="card-body py-0">
            <h1 class="h1 card-title text-right my-0 mr-3" style="font-size: 46px;">לַעֲמוֹד</h1>
            <p class="card-text p-1 pt-2 pb-0 my-0 mr-3 text-right" style="font-size: 20px; color: #4682B4"><b>פעל-שלמים  ל-מ-ד</b></p>
            <p class="card-text pb-1 m-0" style="font-size: 36px; color: #CCCCCC">лаАмод</p>
            <table class="table mt-1 mb-1" >
              <tbody style="font-size: 24px;">
                <tr>
                  <th scope="row" class="p-2 m-1"></th>
                  <td class="p-1 m-1">עוֹמֶדֶת</td>
                  <td class="p-1 m-1">עוֹמֵד</td>
                </tr>
                <tr>
                  <th scope="row" class="p-2 m-1"></th>
                  <td class="p-1 m-1">עוֹמְדוֹת</td>
                  <td class="p-1 m-1">עוֹמְדִים</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer p-0 pl-4" style="background-color: #BFBFBF; color: white; font-size: 26px">СТОЯТЬ</div>
        </div>
        </div>
      <div class="col-3 p-0 m-0">
        <div class="card" style="background-color: white; border-left: 10px solid #C71585">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="https://forum.tourtrans.ru/uploads/monthly_2020_03/s66567930.jpg.7ef65458b0eafa3058dd687649f6642f.jpg" alt="" />
          </div>
          <div class="card-body py-0">
            <h1 class="h1 card-title text-right my-0 mr-3" style="font-size: 46px;">תָמִיד</h1>
            <p class="card-text p-1 m-0 text-right" style="font-size: 20px">אַף פַּעַם</p>
            <p class="card-text p-1 m-0" style="font-size: 36px; color: #CCCCCC">тамИд</p>
            <table class="table mt-1 mb-1" >
              <tbody style="font-size: 24px;">
                <tr>
                  <th scope="row" class="p-2 m-1"></th>
                  <td class="p-1 m-1">-</td>
                  <td class="p-1 m-1">-</td>
                </tr>
                <tr>
                  <th scope="row" class="p-2 m-1"></th>
                  <td class="p-1 m-1">-</td>
                  <td class="p-1 m-1">-</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer p-0 pl-4" style="background-color: #BFBFBF; color: white; font-size: 26px">ВСЕГДА</div>
        </div>
        </div>
    </div>
    <div>
    </div>
  </main>
{% endblock %}