{% extends 'mycards/base.html' %}
{% load custom_tags %}
{%  load static %}
{% block container %}


<div class="row">
    <div class="col-2" style="color: #23418b"> <!-- Настройка бокового меню -->
        <form action="" method="get">
            <table class="table">
            <tbody>
            <tr>
                <th scope="row"></th>
                <td><label class="form-label" for="{{ form1.gender.id_for_label }}">Пол:</label></td>
                <td>{{ form1.gender }}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td><label class="form-label" for="{{ form1.exception.id_for_label }}">Искл.:</label></td>
                <td>{{ form1.exception }}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td><label class="form-label" for="{{ form1.date.id_for_label }}">Добавлено:</label></td>
                <td>{{ form1.date }}</td>
            </tr>
          </tbody>
        </table>
        </form> <!-- Форма фильтрации слов -->
        <ul class="nav flex-column" style="border-right: 2px solid #23418b">
            {% for class in classes %}

            <div class="row align-items-center p-0 m-0">
                <div class="col-1 m-0 p-0 text-right">
                    {% if class.icon != None %}<i class="fa {{ class.icon }} text-right pl-2" aria-hidden="true" style="color: #23418b"></i> {% endif %}
                </div>
                <div class="col-11 m-0 p-0">
                    <li class="nav-item dropdown p-0 m-0">
                    <a class="nav-link dropdown-toggle pl-2 pb-2 mb-1 ml-1" href="{% url 'nouns_filter' class.cats_ids_form %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #23418b">{{ class.name }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'nouns_filter' class.cats_ids_form %}">ВСЕ</a>
                            <div class="dropdown-divider"></div>
                            {% for cat in class.cats_info %}
                            <a class="dropdown-item m-0 p-0" href="{% url 'nouns_filter' cat.id %}">
                                <div class="row m-0 p-0">
                                    <div class="col-1 mx-0 ml-0 mr-2 pt-1 text-center">
                                        {% if cat.icon != None %}<i class="fa {{ cat.icon }} text-center" aria-hidden="true" style="color: #23418b"></i>{% endif %}
                                    </div>
                                    <div class="col-8 m-0 p-0">{{ cat.name }}</div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </li>
                </div>
            </div>
            {% endfor %}
        </ul> <!-- Навигация по темам -->
    </div> <!-- Настройка бокового меню -->
    <div class="col-10"> <!-- Таблица со списком слов -->
        <div class="container">
            <p class="p1-2 mb-2 text-center" style="font-size: 24px; color: #990066">СУЩЕСТВИТЕЛЬНЫЕ</p>
            {% for word in nouns_info %}
            <div class="row p-0 m-0" style="border-top: 1px dashed #A0A0A0">
                <div class="col-1" style="font-size: 12px; color: #999999">{{ word.id }}
                </div> <!-- word.id -->
                <div class="col-1">
                    {% if word.expressions|length > 0 %}
                    <a class="btn btn-outline-light mt-2 py-0 px-1 ml-3 text-right" style="color: #23418b" data-toggle="collapse" href="#{{ word.name }}_v" role="button" aria-expanded="false" aria-controls="{{ expression.name }}_v"><i class="fa fa-tags" aria-hidden="true"></i></a>
                    {% endif %}
                    {% if word.other_forms|length > 0 %}
                    <a class="btn btn-outline-light mt-2 py-0 px-1 ml-3 text-right" style="color: #006600" data-toggle="collapse" href="#{{ word.name }}_p" role="button" aria-expanded="false" aria-controls="{{ expression.name }}_p"><i class="fa fa-sitemap" aria-hidden="true"></i></a>
                    {% endif %}
                </div> <!-- значки выражений и производных слов -->
                <div class="col-2"> <!-- word.translation -->
                    <table class="table table-borderless m-0 p-0">
                        <tbody>
                            <tr>
                                <th class="m-0 p-0" scope="row"></th>
                                    <td class="pt-2 pr-2 my-0 mx-0" style="font-size: 18px">
                                        {{ word.translation|upper }}
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- word.translation -->
                <div class="col-3 text-right"> <!-- word.pronunciation -->
                    <table class="table table-borderless text-right m-0 p-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                    <td class="pt-2 pr-2 mx-0" style="font-size: 18px; color: #707070">[{{ word.pronunciation }}]</td>
                            </tr>
                            {% if word.n2_name != None %}
                            <tr>
                                <th scope="row"></th>
                                    <td class="pt-1 my-0 pr-2 mx-0" style="font-size: 18px; color: #707070">[{{ word.n2_pronunciation }}]</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- word.pronunciation -->
                <div class="col-2 text-right"> <!-- word.name -->
                    <table class="table table-borderless text-right p-0 m-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                {% if word.gender == "мужской" %}
                                <td class="pt-2 pr-2 mx-0" style="font-size: 20px; color: #104080">{{ word.name }}</td>
                                {% elif word.gender == "женский" %}
                                <td class="pt-2 pr-2 mx-0" style="font-size: 20px; color: #990066">{{ word.name }}</td>
                                {% endif %}
                            </tr>
                            {% if word.n2_name != None %}
                            {% if word.n2_exception != 0 and word.n2_exception != 100 %}
                            <tr>
                                <th class="m-0 p-0" scope="row"></th>
                                    <td class="pb-0 pt-0 pr-2 mb-0 mt-0 mx-0 text-right" style="font-size: 20px">
                                        {% if word.n2_name|getWordsNumber == 2 %}
                                        <span style="color: red">{{ word.n2_name|getWordFirst }}</span> {{ word.n2_name|getWordSecond }}
                                        {% else %}
                                        {% with positions=word.n2_name|letter_positions %}
                                        {% with number=word.n2_exception %}
                                        {% with sliceEnd=positions|getPlNounEnd:number %}
                                        {% with sliceBegin=positions|getPlNounBegin:number %}
                                        {{ word.n2_name|slice:sliceBegin }}<span style="color: red">{{ word.n2_name|slice:sliceEnd }}</span>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}
                                        {% endif %}
                                    </td>
                            </tr>
                            {% else %}
                            <tr>
                                <th scope="row"></th>
                                <td class="pt-0 my-0 pr-2 mx-0" style="font-size: 20px">{{ word.n2_name }}</td>
                            </tr>
                            {% endif %}
                        {% endif %}
                        </tbody>
                    </table>
                </div> <!-- word.name -->
                <div class="col-1 text-right">    <!-- значки род и исключение -->
                    <table class="table table-borderless text-right p-0 m-0">
                        <tbody>
                            <tr>
                                <th class="m-0 p-0" scope="row"></th>
                                    {% if word.exception == 100 %}
                                    {% if word.gender == "мужской" %}
                                    <td class="pb-0 pt-4 px-1 mb-0 mt-1 mx-1 text-right" style="font-size: 16px; color: #FF6060"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
                                    <td class="pb-0 pt-3 px-1 mb-0 mt-1 mx-1 text-right" style="font-size: 26px; color: #104080"><i class="fa fa-male" aria-hidden="true"></i></td>
                                    {% elif word.gender == "женский" %}
                                    <td class="pb-0 pt-4 px-1 mb-0 mt-1 mx-1 text-right" style="font-size: 16px; color: #FF6060"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
                                    <td class="pb-0 pt-3 px-1 mb-0 mt-1 mx-1 text-right" style="font-size: 26px; color: #990066"><i class="fa fa-female" aria-hidden="true"></i></td>
                                    {% endif %}
                                    {% endif %}
                                    {% if word.animacy == 'inan' %}
                                    {% if word.gender == "мужской" %}
                                    <td class="pb-0 pt-3 px-1 mb-0 mt-1 mx-1 text-right" style="font-size: 26px; color: #104080"><i class="fa fa-male" aria-hidden="true"></i></td>
                                    {% elif word.gender == "женский" %}
                                    <td class="pb-0 pt-3 px-1 mb-0 mt-1 mx-1 text-right" style="font-size: 26px; color: #990066"><i class="fa fa-female" aria-hidden="true"></i></td>
                                    {% endif %}
                                    {% else %}
                                    <td class="pb-0 pt-2 px-1 mb-0 mt-1 mx-1 text-right" style="font-size: 26px; color: #104080"><i class="fa fa-male" aria-hidden="true"></i><br>
                                    <span style="color: #990066"><i class="fa fa-female pt-3" aria-hidden="true"></i></span></td>
                                    {% endif %}
                            </tr>
                            {% if word.n2_name != None %}
                            {% if word.n2_exception != 0 and word.n2_exception != 100 %}
                            <tr>
                                <th class="m-0 p-0" scope="row"></th>
                                    <td class="pb-0 pt-3 px-1 mb-0 mt-1 mx-1 text-right" style="font-size: 16px; color: #FF6060"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
                            </tr>
                            {% endif %}
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- значок рода (мужской/женский) -->
                <div class="col-1"><img src="{% static 'img/'%}{{ word.picture }}" width="90" height="60" class="d-inline-block align-top mr-1 rounded" alt=""></div>

            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-7">
                    <div class="collapse" id="{{ word.name }}_v">
                        {% if word.expressions|length > 0 %}
                           <ul class="list-group p-0 m-0 text-right">
                               {% for expression in word.expressions %}
                              <li class="list-group-item pb-1">
                                   <div class="row" style="font-size: 16px">
                                       <div class="col-4 text-left">{{ expression.translation }}</div>
                                        <div class="col-4" style="color: #707070">[{{ expression.pronunciation }}]</div>
                                        <div class="col-4" style="font-size: 20px; color: #23418b">{{ expression.name }}</div>
                                   </div>
                              </li>
                               {% endfor %}
                               {% endif %}
                           </ul>
                    </div>
                    <div class="collapse" id="{{ word.name }}_p">
                        {% if word.other_forms|length > 0 %}
                           <ul class="list-group p-0 m-0 text-right">
                               {% for other_form in word.other_forms %}
                              <li class="list-group-item pb-1">
                                   <div class="row" style="font-size: 16px">
                                       <div class="col-5 text-left">{{ other_form.translation }}</div>
                                        <div class="col-4" style="color: #707070">[{{ other_form.pronunciation }}]</div>
                                        <div class="col-3" style="font-size: 20px; color: #23418b">{{ other_form.name }}</div>
                                   </div>
                              </li>
                               {% endfor %}
                               {% endif %}
                           </ul>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}