{% extends 'mycards/base.html' %}
{% load custom_tags %}
{%  load static %}
{% block container %}


<main class="container">
    <h1 class="text-center">МЕСТОИМЕНИЯ</h1>
    <table class="table">
        <tr>
            <td class="no-border-top"  style="border-top: 0px"></td>
            <td class="text-center" colspan="3" style="border-top: 0px">C предлогом "את"</td>
            <td class="text-center" colspan="3" style="border-top: 0px">C предлогом "ב"</td>
            <td class="text-center" colspan="3" style="border-top: 0px">C предлогом "ל"</td>
            <td class="text-center" colspan="3" style="border-top: 0px">C предлогом "של"</td>
            <td class="text-center" colspan="3" style="border-top: 0px">Cуффикс</td>
            <td class="text-center" colspan="3" style="border-top: 0px">Личные</td>
        </tr>
        {% for word in pronouns_info %}
        <tr>

            <th class = "m-0 p-0 no-border-top" scope="row">
                {% if word.expressions|length > 0%}
                  <a class="btn btn-light" data-toggle="modal" data-target="#{{ word.id }}">
                    +
                  </a>
                {% endif %}
            </th>

            {% for form in word.forms %}
            {% if form.gender == 'женский' %}
            <td class="prons-translation no-border-top color-white">{{ form.translation|upper }}</td>
            <td class="prons-icon no-border-top color-female"><i class="fa fa-female" aria-hidden="true"></i></td>
            <td class="prons-name-general no-border-top"><span class="prons-name">{{ form.name }}</span><br><span  class="prons-pronunciation">[{{ form.pronunciation }}]</span></td>
            {% elif form.gender == 'мужской' %}
            <td class="prons-translation">{{ form.translation|upper }}</td>
            <td class="prons-icon color-male"><i class="fa fa-male" aria-hidden="true"></i></td>
            <td class="prons-name-general"><span  class="prons-name">{{ form.name }}</span><br><span  class="prons-pronunciation">[{{ form.pronunciation }}]</span></td>
            {% else %}
            <td class="prons-translation">{{ form.translation|upper }}</td>
            <td></td>
            <td class="prons-name-general"><span  class="prons-name">{{ form.name }}</span><br><span class="prons-pronunciation">[{{ form.pronunciation }}]</span></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
        {% for word in pronouns_info %}
        {% if word.expressions|length > 0%}
    <div class="modal fade" id="{{ word.id }}" tabindex="-1" role="dialog" aria-labelledby="{{word.id}}Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{word.id}}Label">Выражения с местоимениями</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div>
                    {% for expression in word.expressions %}
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="prons-translation m-0 p-0">{{ expression.translation }}</td>
                            </tr>
                            <tr>
                                <td class="text-right no-border-top m-0 p-0">{{ expression.name }}</td>
                            </tr>
                            <tr>
                                <td class="text-right prons-pronunciation no-border-top m-0 p-0">[{{ expression.pronunciation }}]</td>
                            </tr>

                        </tbody>
                    </table>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</main>



{% endblock %}