{% extends 'mycards/base.html' %}
{% load custom_tags %}
{%  load static %}
{% block container %}


<main class="container">
    <p class="text-center" style="font-size: 42px; color: #23418b">МЕСТОИМЕНИЯ</p><br>
    <div class="row">
        <div class="col-4" style="background-color: white; font-size: 20px; border-right: 2px solid black">
            <p>с предлогом "ל"</p>
            <table class="table text-right m-0 p-0">
                <tbody>
            {% for word in pronouns_info %}
            <tr class="m-0 p-0">
                <th scope="row m-0 p-0" style="border-top: 0px"></th>
                {% if word.gender == 'женский' %}
                <td class="m-0 p-0" style="color: white; border-top: 0px">{{ word.translation_l|upper }}</td>
                <td class="text-right" style="border-top: 0px; font-size: 20px; color: #990066"><i class="fa fa-female" aria-hidden="true"></i></td>
                <td class="m-0 px-0 py-1" style="border-top: 0px; color: #707070; font-size: 16px">[{{ word.pronunciation_l }}]</td>
                <td class="m-0 p-0" style="border-top: 0px; font-size: 24px">{{ word.name_l }}</td>
                {% elif word.gender == 'мужской' %}
                <td class="m-0 p-0">{{ word.translation_l|upper }}</td>
                <td class="text-right" style="font-size: 20px; color: #104080"><i class="fa fa-male" aria-hidden="true"></i></td>
                <td class="m-0 px-0 py-1" style="color: #707070; font-size: 16px">[{{ word.pronunciation_l }}]</td>
                <td class="m-0 p-0" style="font-size: 24px">{{ word.name_l }}</td>
                {% else %}
                <td class="m-0 p-0">{{ word.translation_l|upper }}</td>
                <td class="text-right" style="font-size: 20px; color: #FFFAFA"></td>
                <td class="m-0 px-0 py-1" style="color: #707070; font-size: 16px">[{{ word.pronunciation_l }}]</td>
                <td class="m-0 p-0" style="font-size: 24px">{{ word.name_l }}</td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <div class="col-3" style="background-color: white; font-size: 20px; border-right: 2px solid black">
            <p>с предлогом "של"</p>
            <table class="table text-right m-0 p-0">
                <tbody>
            {% for word in pronouns_info %}
            <tr class="m-0 p-0">
                <th scope="row m-0 p-0" style="border-top: 0px"></th>
                {% if word.gender == 'женский' %}
                <td class="m-0 p-0" style="color: white; border-top: 0px">{{ word.translation_shl|upper }}</td>
                <td class="text-right" style="border-top: 0px; font-size: 20px; color: #990066"><i class="fa fa-female" aria-hidden="true"></i></td>
                <td class="m-0 px-0 py-1" style="border-top: 0px; color: #707070; font-size: 16px">[{{ word.pronunciation_shl }}]</td>
                <td class="m-0 p-0" style="border-top: 0px; font-size: 24px">{{ word.name_shl }}</td>
                {% elif word.gender == 'мужской' %}
                <td class="m-0 p-0">{{ word.translation_shl|upper }}</td>
                <td class="text-right" style="font-size: 20px; color: #104080"><i class="fa fa-male" aria-hidden="true"></i></td>
                <td class="m-0 px-0 py-1" style="color: #707070; font-size: 16px">[{{ word.pronunciation_shl }}]</td>
                <td class="m-0 p-0" style="font-size: 24px">{{ word.name_shl }}</td>
                {% else %}
                <td class="m-0 p-0">{{ word.translation_shl|upper }}</td>
                <td class="text-right" style="font-size: 20px; color: #FFFAFA"></td>
                <td class="m-0 px-0 py-1" style="color: #707070; font-size: 16px">[{{ word.pronunciation_shl }}]</td>
                <td class="m-0 p-0" style="font-size: 24px">{{ word.name_shl }}</td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <div class="col-2" style="background-color: white; font-size: 20px; border-right: 2px solid #23418b">
            <p>Суффикс</p>
            <table class="table text-right m-0 p-0">
                <tbody>
            {% for word in pronouns_info %}
            <tr class="m-0 p-0">
                <th scope="row m-0 p-0" style="border-top: 0px"></th>
                {% if word.gender == 'женский' %}
                <td class="text-right" style="border-top: 0px; font-size: 20px; color: white"><i class="fa fa-female" aria-hidden="true"></i></td>
                <td class="m-0 p-1" style="border-top: 0px; color: #707070; font-size: 16px">[{{ word.pronunciation_prs }}]</td>
                <td class="m-0 p-0" style="border-top: 0px; font-size: 24px">{{ word.name_prs }}</td>
                {% elif word.gender == 'мужской' %}
                <td class="text-right" style="font-size: 20px; color: white"><i class="fa fa-male" aria-hidden="true"></i></td>
                <td class="m-0 p-1" style="color: #707070; font-size: 16px">[{{ word.pronunciation_prs }}]</td>
                <td class="m-0 p-0" style="font-size: 24px">{{ word.name_prs }}</td>
                {% else %}
                <td class="text-right" style="font-size: 20px; color: #F8E5F9"></td>
                <td class="m-0 p-1" style="color: #707070; font-size: 16px">[{{ word.pronunciation_prs }}]</td>
                <td class="m-0 p-0" style="font-size: 24px">{{ word.name_prs }}</td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <div class="col-3" style="background-color: white; font-size: 20px">
            <p class="text-center">Личные местоимения</p>
            <table class="table text-right m-0 p-0">
                <tbody>
            {% for word in pronouns_info %}
            <tr class="m-0 p-0">
                <th scope="row m-0 p-0" style="border-top: 0px"></th>
                {% if word.gender == 'женский' %}
                <td class="m-0 p-0" style="color: white; border-top: 0px">{{ word.translation|upper }}</td>
                <td class="text-right" style="border-top: 0px; font-size: 20px; color: #990066"><i class="fa fa-female" aria-hidden="true"></i></td>
                <td class="m-0 p-1" style="border-top: 0px; color: #707070; font-size: 16px">[{{ word.pronunciation }}]</td>
                <td class="m-0 p-0" style="border-top: 0px; font-size: 24px">{{ word.name }}</td>
                {% elif word.gender == 'мужской' %}
                <td class="m-0 p-0">{{ word.translation|upper }}</td>
                <td class="text-right" style="font-size: 20px; color: #104080"><i class="fa fa-male" aria-hidden="true"></i></td>
                <td class="m-0 p-1" style="color: #707070; font-size: 16px">[{{ word.pronunciation }}]</td>
                <td class="m-0 p-0" style="font-size: 24px">{{ word.name }}</td>
                {% else %}
                <td class="m-0 p-0">{{ word.translation|upper }}</td>
                <td class="text-right" style="font-size: 20px; color: #FFFAFA"></td>
                <td class="m-0 p-1" style="color: #707070; font-size: 16px">[{{ word.pronunciation }}]</td>
                <td class="m-0 p-0" style="font-size: 24px">{{ word.name }}</td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

        </div>
</main>



{% endblock %}