{% extends 'mycards/base.html' %}
{% load custom_tags %}
{%  load static %}
{% block container %}


<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row m-0 p-0" style="background: #F5F5F5">
            <form action="" method="get" class="my-1 py-1">
                <label class="form-label ml-4 my-0 py-0" for="{{ form.binyan.id_for_label }}" style="color: grey">Исключения:</label> {{ form.binyan }}
                <label class="form-label ml-4 my-0 py-0" for="{{ form.date.id_for_label }}" style="color: grey">Добавлено:</label> {{ form.date }}
                <label class="form-label ml-4 my-0 py-0" for="{{ form.printed.id_for_label }}" style="color: grey">Напечатано:</label> {{ form.printed }}
            </form> <!-- Форма фильтрации слов -->
        </div>
            <p class="p-2 mb-2 text-center" style="font-size: 24px; color: #23418b">ГЛАГОЛЫ</p>
                {% for word in verbs_info %}
                <div class="row p-0 m-0" style="border-top: 1px dashed #A0A0A0">
                    <div class="col-1">
                        <img src="{% static 'img/'%}{{ word.picture }}" width="65" height="45" class="d-inline-block align-top mr-1 rounded" alt="" data-toggle="tooltip" title="{{ word.id }}"></div>

                    <div class="col-1 p-0 m-0"> <!-- word.translation -->
                    <table class="table table-borderless m-0 p-0">
                        <tbody>
                            <tr>
                                <th class="m-0 p-0" scope="row"></th>
                                    <td class="pl-2 pr-0 py-0 my-0 mx-0" style="font-size: 18px">
                                        {% if word.expressions|length > 0 %}
                                        <a class="btn btn-outline-dark pl-1 pr-1 pt-0 pb-0 mt-1 mb-0 mx-0" data-toggle="collapse" href="#{{ word.name }}" role="button" aria-expanded="false" aria-controls="{{ expression.name }}">{{ word.translation|upper }}</a>
                                        {% else %}
                                        {{ word.translation|upper }}
                                        {% endif %}
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- word.translation -->
                    <div class="col-2 text-right"> <!-- word.pronunciation -->
                    <table class="table table-borderless text-right m-0 p-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                    <td class="p-0 mx-0" style="font-size: 18px; color: #707070">[{{ word.pronunciation }}]</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.pronunciation -->
                    <div class="col-1 text-right"> <!-- word.name -->
                        <table class="table table-borderless text-right p-0 m-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td class="p-0 mx-0" style="font-size: 20px; color: #104080">{{ word.vocal_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.name -->
                    <div class="col-2 text-right"> <!-- word.pronunciation -->
                        <table class="table table-borderless text-right m-0 p-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                    <td class="p-0 mx-0" style="font-size: 18px; color: #707070">[{{ word.f1_pronunciation }}]</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.f1_pronunciation -->
                    <div class="col-1 text-right"> <!-- word.name -->
                        <table class="table table-borderless text-right p-0 m-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td class="p-0 mx-0" style="font-size: 20px; color: #104080">{{ word.f1_name }}</td>
                            </tr>
                        </tbody>
                        </table>
                    </div> <!-- word.f1_name -->
                    <div class="col-2 text-right"> <!-- word.m1_pronunciation -->
                        <table class="table table-borderless text-right m-0 p-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                    <td class="pt-2 pr-2 mx-0" style="font-size: 18px; color: #707070">[{{ word.m1_pronunciation }}]</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.m1_pronunciation -->
                    <div class="col-1 text-right"> <!-- word.m1_name -->
                        <table class="table table-borderless text-right p-0 m-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td class="p-0 mx-0" style="font-size: 20px; color: #104080">{{ word.m1_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.m1_name -->
                    <div class="col-1 p-0 m-0 text-right"> <!-- word.preps -->
                        <table class="table table-borderless text-right p-0 m-0">
                        <tbody>
                            <tr>
                                {% if word.preps != None %}
                                <th scope="row"></th>
                                <td class="p-0 mx-0" style="font-size: 18px; color: #707070">{{ word.preps }}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.binyan -->
                </div>
                <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                <div class="collapse" id="{{ word.name }}">
                        {% if word.expressions|length > 0 %}
                           <ul class="list-group p-0 m-0 text-right">
                               {% for expression in word.expressions %}
                              <li class="list-group-item pb-1">
                                   <div class="row" style="font-size: 16px">
                                       <div class="col-4 text-left">{{ expression.translation }}</div>
                                        <div class="col-4" style="color: #707070">[{{ expression.pronunciation }}]</div>
                                        <div class="col-4" style="font-size: 20px; color: #23418b">{{ expression.name }}</div>
                                   </div>
                              </li>
                               {% endfor %}
                               {% endif %}
                           </ul>
                </div>
                </div>
                <div class="col-1"></div>
            </div>
            {% endfor %}
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}