{% extends 'mycards/base.html' %}
{% load custom_tags %}
{%  load static %}
{% block container %}


<div class="row">
    <div class="col-3" style="color: #23418b"> <!-- Настройка бокового меню -->
        <form action="" method="get">
            <table class="table p-0 m-0">
            <tbody>
            <tr>
                <th scope="row"></th>
                <td><label class="form-label p-0 m-0" for="{{ form.binyan.id_for_label }}">Биньян:</label></td>
                <td>{{ form.binyan }}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td><label class="form-label" for="{{ form.date.id_for_label }}">Добавлено:</label></td>
                <td>{{ form.date }}</td>
            </tr>
            </tbody>
            </table>
        </form>
    </div> <!-- Настройка бокового меню -->
    <div class="col-8">
            <p class="p-2 mb-2 text-center" style="font-size: 24px; color: #23418b">ГЛАГОЛЫ</p>
                {% for word in verbs_info %}
                <div class="row p-0 m-0" style="border-top: 1px dashed #A0A0A0">
                    <div class="col-1"><img src="{% static 'img/'%}{{ word.picture }}" width="65" height="45" class="d-inline-block align-top mr-1 rounded" alt="" data-toggle="tooltip" title="{{ word.id }}"></div>

                    <div class="col-1 p-0 m-0"> <!-- word.translation -->
                    <table class="table table-borderless m-0 p-0">
                        <tbody>
                            <tr>
                                <th class="m-0 p-0" scope="row"></th>
                                    <td class="pl-2 pr-0 py-0 my-0 mx-0" style="font-size: 18px">
                                        {{ word.translation|upper }}
                                        {% if word.expressions|length > 0 %}
                                        <a class="btn btn-outline-dark py-0 px-1 ml-3" data-toggle="collapse" href="#{{ word.name }}" role="button" aria-expanded="false" aria-controls="{{ expression.name }}"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        {% endif %}
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- word.translation -->
                    <div class="col-2 text-right"> <!-- word.pronunciation -->
                    <table class="table table-borderless text-right m-0 p-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                    <td class="p-0 mx-0" style="font-size: 18px; color: #707070">[{{ word.pronunciation }}]</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.pronunciation -->
                    <div class="col-1 text-right"> <!-- word.name -->
                        <table class="table table-borderless text-right p-0 m-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td class="p-0 mx-0" style="font-size: 20px; color: #104080">{{ word.vocal_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.name -->
                    <div class="col-2 text-right"> <!-- word.pronunciation -->
                        <table class="table table-borderless text-right m-0 p-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                    <td class="p-0 mx-0" style="font-size: 18px; color: #707070">[{{ word.f1_pronunciation }}]</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.f1_pronunciation -->
                    <div class="col-1 text-right"> <!-- word.name -->
                        <table class="table table-borderless text-right p-0 m-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td class="p-0 mx-0" style="font-size: 20px; color: #104080">{{ word.f1_name }}</td>
                            </tr>
                        </tbody>
                        </table>
                    </div> <!-- word.f1_name -->
                    <div class="col-2 text-right"> <!-- word.m1_pronunciation -->
                        <table class="table table-borderless text-right m-0 p-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                    <td class="pt-2 pr-2 mx-0" style="font-size: 18px; color: #707070">[{{ word.m1_pronunciation }}]</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.m1_pronunciation -->
                    <div class="col-1 text-right"> <!-- word.m1_name -->
                        <table class="table table-borderless text-right p-0 m-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td class="p-0 mx-0" style="font-size: 20px; color: #104080">{{ word.m1_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.m1_name -->
                    <div class="col-1 p-0 m-0 text-right"> <!-- word.binyan -->
                        <table class="table table-borderless text-right p-0 m-0">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td class="p-0 mx-0" style="font-size: 18px; color: #707070">{{ word.binyan_output }}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- word.binyan -->
                </div>
                <div class="row">
                <div class="col-2"></div>
                <div class="col-6">
                <div class="collapse" id="{{ word.name }}">
                        {% if word.expressions|length > 0 %}
                           <ul class="list-group p-0 m-0 text-right">
                               {% for expression in word.expressions %}
                              <li class="list-group-item pb-1">
                                   <div class="row" style="font-size: 16px">
                                       <div class="col-4 text-left">{{ expression.translation }}</div>
                                        <div class="col-4" style="color: #707070">[{{ expression.pronunciation }}]</div>
                                        <div class="col-4" style="font-size: 20px; color: #23418b">{{ expression.name }}</div>
                                   </div>
                              </li>
                               {% endfor %}
                               {% endif %}
                           </ul>
                </div>
                </div>
                <div class="col-4"></div>
            </div>
            {% endfor %}
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}